@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

:root {
    --purple : rgb(121, 50, 130);
    --orange : rgb(234, 91, 12);
    --yellow : rgb(253, 195, 0);
    --blue : rgb(95, 191, 237);
    --pink : rgb(231, 134, 181);
    --green : rgb(149, 193, 31);

    --background-purple : mix(white, var(--purple), 3%);
    --background-orange : mix(white, var(--orange), 3%);
    --background-yellow : mix(white, var(--yellow), 3%);
    --background-blue : mix(white, var(--blue), 3%);
    --background-pink : mix(white, var(--pink), 3%);
    --background-green : mix(white, var(--green), 3%);

    --header-background : var(--purple);
    --header-color : white;

    --footer-background : var(--purple);
    --footer-title-color : var(--pink);
    --footer-color : white;
}