<script id="workshop_card_template" type="text/template">

<div class="col-12 col-lg-6 col-xl-4">
	<div data-w-color="%cat_color%" class="workcard">
		<section class="workcard__header">
			<img class="BORDER_color_change" src="/assets/images/%cont_image%" alt="Photo de profil">
			<ul>
				<li><h2 class="TEXT_color_change">%name%</h2></li>
				<li><h2>%cont_firstname% %cont_lastname%</h2></li>
			</ul>
			<h3 class="BG_color_change">%cat_name%</h3>
		</section>

		<section class="workcard__activity BORDER_color_change">
			<h3 class="TEXT_color_change">%name% ?</h3>
			<p>%info%</p>
		</section>

		<section class="workcard__content">
			<h3 class="TEXT_color_change">Activités des scéances :</h3>
			<p>%activity%</p>
		</section>

		<section class="workcard__info BG_color_change">
			<h3>Lieux, Jours & Heures</h3>
			<p>%place% <br> %day% <br> %hours% </p>
		</section>
	</div>
</div>


</script>