body {
    background-color: var(--background-yellow);
    overflow-x: hidden;
}

.main {
    padding: 7rem 0 ;
    position: relative;
	min-height: 90rem;
	overflow-x: hidden;
	background : url('/website/Assets/bg-btm.svg') no-repeat bottom center;
	background-size: 150vw;
}

.grecaptcha-badge {
	z-index: 1;
}

.bg__top, .bg__bottom {
    position: absolute;
    max-width: 150vw;
    object-fit: cover;
    z-index: -10;
}

.bg__top {
    top: 2.5rem;
    right: 0;
}

.bg__bottom {
    bottom: 0;
    right: calc(50% - 75vw);
}

h1 {
    text-align: center;
    color: var(--purple);
}


.contact {
    margin-top: 5rem;
}

.home {
    margin-top: 5rem;
}

.video {
    margin-top: 5rem;
}

.lightMission {
    margin-top: 5rem;
}

.testimonial {
    margin-top: 5rem;
}

.notification {
    margin-bottom: 2rem;
}

.news {
    margin-top: 5rem;
}

.searchnews {
    margin-top: 5rem;
}

.membership {
    margin-top: 5rem;
}

.donation {
    margin-top: 5rem;
}

.workregister {
    margin-top: 5rem;
}

.searchwork {
    margin-top: 5rem;
}

.workcontainer {
    margin-top: 5rem;
}

.form__membership {
	margin-top: 5rem;
}

.members {
	margin-top: 5rem;
}

.legal {
	margin-top : 5rem;
}

.patientExp {
	margin-top : 5rem;
}

.projects {
	margin-top : 5rem;
}

.organisation {
	margin-top : 5rem;
}


@media screen and (min-width: 768px){
    .main {
        padding-top: 8rem;
    }

    .bg__top {
        top: 2rem;
    }

	.missions {
		margin-top: 5rem;
	}
    
}

@media screen and (min-width: 1200px){
    .main {
        padding-top: 15rem;
    }

    .bg__top {
        top: 5rem;
    }

    .contact {
        margin-top: 10rem;
    }

	.home {
		margin-top : 10rem;
	}

    .lightMission {
        margin-top: 10rem;
    }

    .testimonial {
        margin-top: 10rem;
    }

    .notification {
        margin-bottom: 5rem;
    }

	.searchnews {
        margin-top: 10rem;
    }

	#searchnews_container {
		margin-bottom : 20rem;
	}

	.membership {
        margin-top: 10rem;
    }
    
    .donation {
        margin-top: 10rem;
    }

    .searchwork {
        margin-top: 10rem;
    }

	.form__membership {
        margin-top: 10rem;
	}

	.missions {
        margin-top: 5rem;
    }

	.members {
		margin-top: 10rem;
	}

	.legal {
		margin-top : 10rem;
	}

	.patientExp {
		margin-top : 10rem;
	}

	.projects {
		margin-top : 10rem;
	}

	.organisation {
		margin-top : 10rem;
	}
}