/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
  font-family: "Roboto", sans-serif;
}



/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'],
ul,
li {
  list-style: none;
  padding-left: 0;
}


/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
  scroll-behavior: smooth;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

a:hover {
  text-decoration: none;
}

h1 {
  font-family: "Offside", sans-serif;
  font-size: var(--font-mb-h1);
}

h2 {
  font-size: var(--font-mb-h2);
}

h3 {
  margin-top: 0;
  font-size: var(--font-mb-h3);
}

h4 {
  font-size: var(--font-mb-h4);
}

p {
  margin-top: 0;
  font-size: var(--font-mb-text);
}

button {
  font-size: var(--font-mb-btn);
}

nav {
  font-size: var(--font-mb-nav);
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

@media screen and (min-width: 992px){
	h1 {
		font-size: var(--font-mid-h1);
	}
	h2 {
		font-size: var(--font-mid-h2);
	}
	h3 {
		font-size: var(--font-mid-h3);
	}
	h4 {
		font-size: var(--font-mid-h4);
	}
	p {
		font-size: var(--font-mid-text);
	}
	button {
		font-size: var(--font-mid-btn);
	}
	nav {
		font-size: var(--font-mid-nav);
	}
}

@media screen and (min-width: 1500px){
	h1 {
		font-size: var(--font-pc-h1);
	}
	h2 {
		font-size: var(--font-pc-h2);
	}
	h3 {
		font-size: var(--font-pc-h3);
	}
	h4 {
		font-size: var(--font-pc-h4);
	}
	p {
		font-size: var(--font-pc-text);
	}
	button {
		font-size: var(--font-pc-btn);
	}
	nav {
		font-size: var(--font-pc-nav);
	}
}