@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Offside&display=swap');

:root {
    --purple : rgb(121, 50, 130);
    --purple2 : rgb(166, 104, 174);
    --purple3 : rgb(138, 85, 148);
    /* --purple3 : rgb(150, 122, 155); */

    --orange : rgb(234, 91, 12);
    --yellow : rgb(253, 195, 0);
    --blue : rgb(95, 191, 237);
    --pink : rgb(231, 134, 181);
    --green : rgb(149, 193, 31);

    --purple-opacity : rgb(121, 50, 130, 0.9);
    --purple-opacity2 : rgb(121, 50, 130, 0.7);
    --purple-opacity3 : rgb(241, 234, 242);

    --green-opacity2 : rgb(149, 193, 31, 0.7);

    --yellow-opacity2 : rgb(253, 195, 0, 0.7);




    --background-purple : mix(white, var(--purple), 3%);
    --background-orange : mix(white, var(--orange), 3%);
    --background-yellow : rgb(255, 253, 247);
    --background-blue : mix(white, var(--blue), 3%);
    --background-pink : rgb(254, 251, 253);
    --background-green : rgb(252, 253, 248);

    --purple-dark : color-mix(in srgb, var(--purple) 100%, black 20%);

    --header-background : var(--purple);
    --header-color : white;

    --footer-background : var(--purple);
    --footer-title-color : var(--pink);
    --footer-color : white;

    --font-pc-h1 : 4rem;
    --font-pc-h2 : 2.25rem;
    --font-pc-h3 : 1.75rem;
    --font-pc-h4 : 1rem;
    --font-pc-text : 1.25rem;
    --font-pc-btn : 1.25rem;
    --font-pc-nav : 1.25rem;

	--font-mid-h1 : 3rem;
    --font-mid-h2 : 1.75rem;
    --font-mid-h3 : 1.45rem;
    --font-mid-h4 : .9rem;
    --font-mid-text : 1rem;
    --font-mid-btn : 1rem;
    --font-mid-nav : 1rem;

    --font-mb-h1 : 2rem;
    --font-mb-h2 : 1.25rem;
    --font-mb-h3 : 1rem;
    --font-mb-h4 : .750rem;
    --font-mb-text : .875rem;
    --font-mb-btn : .875rem;
    --font-mb-nav : .875rem;
}


.button {
    padding: .5rem 1rem;
    color: white;
    background-color: var(--purple);
    border: none;
    border-radius: 20rem;
    border-bottom-left-radius: 0;
    transition: all .3s ease-in-out;
}

.button:hover {
    background-color: var(--purple-dark);
    cursor: pointer;
    transform: translateY(-.15rem);
}


@media screen and (min-width: 1200px){
    .button {
        padding: 1rem 1.5rem;

    }
}