.footer {
    padding-bottom: 2rem;
    background-color: var(--purple);
}

.footer__haut {
    max-width: 100%;
    padding: 2rem;
    background-color: var(--purple);
}

.footer__haut h3 {
    text-align: center;
    color: var(--pink);
}

.footer__haut h4 {
    text-align: center;
    color: var(--white);
}

.footer__haut a {
    text-align: center;
    color: white;
    text-decoration: underline;
}

.footer__haut img {
    width: 1rem;
}

.footer__haut li {
    display: flex;
    align-items: center;
    gap: .5rem;

}

.footer__haut ul li a{
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;

}

.footer__legal {
    text-decoration: underline!important;
    padding-bottom: .2rem;
    transition: all .3s ease-in-out;
}

.footer__legal:hover {
    color: var(--yellow);
    text-decoration: none!important;
}

.footer__haut ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.footer__bas {
    max-width: 100%;
    padding-top: 1rem;
    background-color: white;
    color: var(--purple);
}


.footer__carrousel h3{
    margin: 1rem 0 1rem;
    text-align: center;
}

.footer__carrouselInner {
    padding: 1rem;
    background: white;
}

@media screen and (min-width: 992px) {
    .footer__bas {
        padding-top: 2rem;
    }
    .footer__carrousel h3 {
        margin: 1rem 0 2rem;
    }
}







.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
}

.owl-nav .owl-prev {
    left: -1rem;
}

.owl-nav .owl-next {
    right: 1rem;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    width: 2rem;
    height: 2rem;
    background: var(--purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    font-size: 1.25rem;
}

.owl-nav .owl-prev::before {
    content: '◀'; /* Caractère Unicode pour la flèche gauche */
    color: var(--purple);
}


.owl-nav .owl-next::before {
    content: '▶'; /* Caractère Unicode pour la flèche droite */
    color: var(--purple);
}

#carouselExample .item {
    margin: 0 auto;
    width: 15rem;

}

#carouselExample .item img {
    width: 100%;
    height: 15rem;
    object-fit: scale-down;
}
