.home {

}


.us {
	padding: 2rem;
	height: 100%;
	background-color: white;
	border-radius : .25rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);

}

.us__img {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.us img {
    width : 15rem;
}

.us__content {
    display : flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	margin-top: 2rem;
}

.us h2 {
    color: var(--purple);
}

.us h3 {
    text-align: center;
}

.us p {
    text-align : justify;
}

.contact-btn {
	border-radius: 20rem;
	border-bottom-right-radius: 0;
}

.event__carousel {
	margin-top: 4rem;
	position: relative;
	height: 20rem;
	width: 100%;
	box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
	border-radius: .25rem;
	overflow: hidden;

}

.event__carousel-arrowLeft {
	position: absolute;
	left: 1rem;
	top : calc(26px - 16.2px);
	padding: .35rem;
	background-color: white;
	border-radius: 5rem;
	rotate: 90deg;
	z-index: 100;
}

.event__carousel-arrowRight {
	position: absolute;
	right: 1rem;
	top : calc(26px - 16.2px);
	padding: .35rem;
	background-color: white;
	border-radius: 5rem;
	rotate: -90deg;
	z-index: 100;

}

.event__carousel-arrowLeft:hover {
	cursor : pointer;
}

.event__carousel-arrowRight:hover {
	cursor : pointer;
}


.event__carousel-inner {
	display: flex;
	height: 100%;
	transition: transform 0.3s ease;

}

.eventCard {
	display: flex;
	flex : 0 0 100%;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: white;
}

.eventCard__header {
	padding: 1rem;
	width: 100%;
	background-color: var(--purple);
	color: white;
	text-align: center;
}

.eventCard__content {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding: 2rem;
	width: 100%;
	text-align : center;

}

.eventCard__content p {
	text-align : justify;
}

.eventCard__footer {
	padding: 1rem;
	width: 100%;
	text-align: center;
	border-top: 2px solid var(--purple);
	text-decoration: underline;
}




@media screen and (min-width: 768px) {
	.us img {
		width: 15rem;
	}
}

@media screen and (min-width: 992px) {
	.event__carousel {
		margin-top: 0;
		height : 100%

	}

	.event__carousel-arrowLeft {
		top : calc(30px - 16.2px);
	}
	
	.event__carousel-arrowRight {
		top : calc(30px - 16.2px);
	}

	
}

@media screen and (min-width: 1200px) {
	.us {
		/* height : 25rem; */
	}

	.us__content {
		margin-top: 0;
		align-items: start;

	}

	.us__content p{
		height : 13rem;
		/* overflow-y: scroll; */

	}

	.us img {
		width: 20rem;
	}

	.us h3 {
		text-align : start;
		font-size: 1.4rem;
	}
}


@media screen and (min-width: 1500px){

	.us {
		/* height : 30rem; */
	}

	.us__content p{
		height : 17rem;

	}

    .home {
        max-width: 1500px;
    }

	.event__carousel-arrowLeft {
		top : calc(34px - 16.2px);
	}
	
	.event__carousel-arrowRight {
		top : calc(34px - 16.2px);
	}
}