.lightMission li {
    display: flex;
    flex-direction: row;
    gap: .5rem;
}

.lightMission ul{
    margin-bottom: 0;
}

.lightMission__title {
    margin-bottom: 2rem;

}

.lightMission__row h2 {
    color: var(--purple);

}

.lightMission__row {
    gap: 2rem;
}

.lightMission__bigCard {
    position: relative;
    overflow: hidden;
    height: 30rem;
}

.lightMission__bigCardHaut {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
}

.lightMission__bigCardHaut button {
    align-self: flex-start;
}

.lightMission__carrousel {
    position: absolute;
    height: 50%;
    width: 100%;
    left: 0;
    bottom: 0;
    margin-top: 2rem;
}

.lightMission__controls {
    position: absolute;
    bottom: 1rem;
    left: calc(50% - 2rem);
    right: calc(50% - 2rem);
    display: flex;
    gap: .5rem;
    margin: .5rem auto 0;
    padding: .5rem;
    width: 4rem;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5rem;

}

.lightMission__controlsBtn {
    padding: .32rem;
    background-color: var(--purple);
    border-radius: 5rem;
    border: none;
}

.lightMission__smallCards {
    gap: 2rem;
}

.lightMission__smallCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 15rem;
}

.lightMission__smallCard button {
    align-self: flex-start;
}

/* .lightMission__smallCard button:hover {
    border-radius: 20rem;
    animation: border-radius-animation .5s infinite;
} */

@media screen and (min-width: 768px) {
	.lightMission__bigCard {

		height: 40rem;
	}

	.lightMission__carrousel {
		bottom: 0;
	}

	.lightMission__carrouse .carousel-item img {
		height: 20rem;
		object-fit : cover;
	}
    
}


@media screen and (min-width: 1200px) {
	.lightMission__carrouse .carousel-item img {
		height: 21rem;
		object-fit : cover;
	}

    .lightMission__row {
        gap: 0;
    }

    .lightMission__bigCard {
        height: 42rem;
    }

    .lightMission__smallCard {
        height: 20rem;
    }
    
}


@media screen and (min-width: 1500px){
    .lightMission {
        max-width: 1500px;
    }
}






