.organisation {
	display: flex;
	flex-direction: column;
	gap : 5rem;
}


.president {
	max-width : 100%;
	background-color: white;
	border-radius : .25rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
	overflow : hidden;

}

.president .row .col-12:first-child{
	padding-left : 0;

}

.president .row .col-12:last-child{
	padding : 1rem;

}


.president h2{
	margin-bottom : 2rem;
	color : var(--purple);

}



.teams {
	padding : 1rem;
	max-width : 100%;
	background-color: white;
	border-radius : .25rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);
	overflow : hidden;

}

.teams img{
	

}

.teams h2{
	margin-bottom : 2rem;
	color : var(--purple);

}

.teams ul{
	

}

.teams ul li{
	

}

.teams p{
	margin-bottom : 1rem;
	
}











@media screen and (min-width: 1500px){
    .organisation {
        max-width: 1500px;
    }
}