.workregister {

}

.workregister__inner {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 1rem;
    border-radius: .5rem;
    background: url(/outside/Assets/bg-workregister.svg) no-repeat right bottom;
    background-size: contain;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.2);

}

.workregister__inner h2 {
    color: var(--purple);
    text-align: center;
    text-transform: uppercase;

}

.workregister__inner p {
}

.workregister__inner ul {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.workregister__inner li {
    display: flex;
    gap: .25rem;
}

.workregister__inner a {
    text-decoration: underline;
	color: var(--green);
}

.workregister__inner a:hover {
    text-decoration : none;
}

.workregister__inner li img {}




@media screen and (min-width: 992px){
    .workregister__inner {
        padding: 2rem 4rem 5rem;
    }

    .workregister__inner h2 {
        margin-bottom: 4rem;
    }

    .workregister__inner p {
        width: 40rem;
    }


    .workregister__inner ul {
        margin-left: 2rem;
    }

    .workregister__inner li {
        gap: 1rem;
    }
    
}

