{% extends "website/base.html.twig" %}

{% block title %}Équipe{% endblock %}

{% block body %}


<div class="container organisation">
	<div class="row">
		<div class="col">

			<div class="container president">
				<div class="row">
					<div class="col-12 col-lg-6">
						<img src="/website/Assets/image.png">
					</div>
					<div class="col-12 col-lg-6">
						<h2>Les mots du président</h2>
						<p>Le président de l'association est le Dr. Jean-Pierre Poulain, médecin nutritionniste, chercheur en sciences sociales et en sciences de l'alimentation, et professeur à l'Université de Paris 13. Il est l'auteur de nombreux ouvrages sur l'alimentation et la nutrition, et a été l'un des premiers à s'intéresser aux questions de santé publique liées à l'alimentation et à l'obésité.</p>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="row">
		<div class="col">

			<div class="container teams">
				<div class="row">

					<div class="col-12 col-lg-4">
						<img src="/website/Assets/image.png">
					</div>
					<div class="col-12 col-lg-8">
						<h2>L'équipe opérationnelle</h2>
						<p>Découvrez notre équipe opérationnelle</p>
						<ul>
							<li><strong>Un directeur</strong> : Nicolas Viande</li>
							<li><strong>Une sophrologue</strong> : Corine </li>
							<li><strong>Une infirmière</strong> : Fraise </li>
							<li><strong>Une diététicienne</strong> : Framboise </li>
							<li><strong>Un patient partenaire</strong> : Mirtille </li>
							<li><strong>Un stagiaire</strong> : Gateau </li>
						</ul>
					</div>
		
				</div>
			</div>
		</div>

	</div>
</div>


{% endblock %}

{% block javascripts %}
    <script>


	</script>
{% endblock %}