{% extends "website/base.html.twig" %}

{% block title %}Mentions Légales{% endblock %}




{% block body %}

<div class="container legal">
	<div class="row">
		<div class="col">
			<div class="legal__inner">
				<section class="legal__info">
					<h2>Informations Légales</h2>

					<ul>
						<li>Association La Marguerite</li>
						<li>95 rue Abbé Pierre</li>
						<li>87100 Limoges</li>
						<li>Tel : 05 55 01 35 94</li>
						<li>Mail : contact@lamargueriteasso.fr</li>
					</ul>

					<ul>
						<li><span>Directeur de la publication : </span>Nicolas Viande - Directeur</li>
						<li><span>Gestionnaire de site : </span>Nicolas Viande - Directeur</li>
						<li><span>Conception - réalisation : </span>La Marguerite</li>
						<li><span>Hébergement : </span>[A CHANGER]</li>
					</ul>
				</section>

				<section class="legal__copy">
					<h2>Droits D'auteurs Et Copyright</h2>
					<ul>
						<li>Le site de l’Association La Marguerite est une oeuvre de l’esprit protégée par la législation en vigueur. 
						</li>
						<li>Les droits de l’auteur de ce site sont réservés pour toute forme d’utilisation. En particulier, la reproduction des éléments graphiques du site, le téléchargement complet du site pour son enregistrement sur un support de diffusion, ainsi que toute utilisation des visuels et textes qu’il contient autre que la consultation individuelle et privée sont interdits sans autorisation.Les droits afférents aux illustrations et photographies contenues dans ce site appartiennent, sauf mention contraire, au site de l’Association La Marguerite.
						</li>
						<li>Les photographies sont, sauf mention particulière, Tous droits réservés.
						</li>
					</ul>
				</section>

				<section class="legal__warn">
					<h2>Avertissements</h2>
					<ul>
						<li>Les informations publiées sont régulièrement vérifiées. Toutefois, l’’Association La Marguerite décline toute responsabilité en cas d’erreur ou d’omission.
						</li>
						<li>Pour signaler une erreur ou demander la rectification d’informations, n’hésitez pas à contacter le webmestre en remplissant le formulaire de contact.
						</li>
						<li>Les informations techniques qui se trouvent sur ce site n’ont qu’une valeur informative et sont susceptibles d’évoluer en fonction des modifications législatives et réglementaires.
						</li>
						<li>l’Association La Marguerite ne peut être tenu responsable de l’interprétation que vous pourriez faire des informations contenues dans ce site.
						</li>
						<li>Il appartient à l’utilisateur de ce site de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels de la contamination par d’éventuels virus circulant sur le réseau Internet. De manière générale, l’Association La Marguerite décline toute responsabilité à un éventuel dommage survenu pendant la consultation du présent site.
						</li>
						<li>Dans l’esprit d’Internet, les liens proposés vers d’autres sites sont communiqués à titre indicatif et ne sauraient engager la responsabilité de l’Association La Marguerite, tant en ce qui concerne les contenus que les conditions d’accès. A l’inverse, toute personne (physique ou morale) souhaitant créer un ou (des) lien(s) vers une ou plusieurs page(s) du présent site doit préalablement en informer le webmestre du site.
						</li>
						<li>l’Association La Marguerite dégage toute responsabilité concernant les liens créés par d’autres sites vers ses propres sites. L’existence de tels liens ne peut permettre d’induire que l’Association La Marguerite cautionne ces sites ou qu’elle en approuve le contenu.
						</li>
						<li>Afin de garantir l’identité et l’intégrité de son site, l’Association La Marguerite se réserve le droit d’interdire les liens qui ne répondraient pas à l’objet dudit site ou qui pourraient porter préjudice à l’image de l’institution. l’Association La Marguerite ne peut être tenu responsable du contenu (éditoriaux, illustrations …) des sites vers lesquels ses sites renvoient.
						</li>
					</ul>
				</section>

				<section class="legal__law">
					<h2>Lois De Référence</h2>
					<ul>
						<li>Loi 78-17 du 6 janvier 1978 Loi relative à l’informatique, aux fichiers et aux libertés.
						</li>
						<li>Loi du 29 juillet 1881 Loi sur la liberté de la presse.
						</li>
						<li>Loi 2000-719 du 1er août 2000 Extrait de la loi portant sur la responsabilité des prestataires techniques.
						</li>
						<li>Aucune information personnelle n’est collectée à votre insu.<br>Aucune information personnelle n’est cédée à des tiers
						</li>
					</ul>
				</section>

				<section class="legal__rgpd">
					<h2>Politique RGPD</h2>
					<p>La protection de vos données personnelles est une priorité pour nous. Conformément au Règlement Général sur la Protection des Données (RGPD), nous nous engageons à garantir la confidentialité et la sécurité de vos informations. Toutes les données collectées sont utilisées de manière transparente, légitime et proportionnée. Vous avez le droit d'accéder à vos données, de les rectifier, de les supprimer ou de vous opposer à leur traitement à tout moment. Pour exercer ces droits ou pour toute question relative à notre politique de confidentialité, n'hésitez pas à nous contacter. Votre confiance est essentielle, et nous mettons tout en œuvre pour protéger vos données conformément aux normes européennes les plus strictes.</p>
				</section>
			</div>
		</div>
	</div>
</div>


{% endblock %}


