{% extends "website/base.html.twig" %}

{% block title %}Nous Contacter{% endblock %}



{% block body %}


<div class="container contact">
	<div class="row">
		<div class="col-12 col-xl-5">
			<section class="contact__info">
				<figure class="contact__coord">
					<img src="website/Assets/logo.png" alt="Logo La Marguerite">
					<figcaption>
						<p>La Marguerite Nouvelle-Aquitaine</p>
						<p>95 rue Abbé Pierre 87100 Limoges</p>
						<p>Mail : contact@lamargueriteasso&#8203;.fr</p>
						<p>Tel : 05 55 01 35 94</p>
					</figcaption>
				</figure>
				<div class="contact__map">
					<iframe
					style="border:0"
					loading="lazy"
					allowfullscreen
					referrerpolicy="no-referrer-when-downgrade"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDZTP4VF6P-z8LScYkfh5iv-iFbsUIxsUE&q=La+Marguerite,Limoges">
					</iframe>
				</div>
			</section>
		</div>
		<div class="col-12 offset-xl-1 col-xl-6">

			{{ include("website/contact/form.html.twig") }}

		</div>
	</div>
</div>

{% endblock %}


{% block javascripts %}


{% endblock %}
