{# Minimalist Card with Header #}
<div class="card card-warning card-outline">

	<div class="card-header">
		<h3 class="card-title">{{ 'title' | trans }}</h3>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col">
				This is the card body
			</div>
		</div>
	</div>
</div>

{# Minimalist Card with Header and Footer #}
<div class="card card-warning card-outline">

	<div class="card-header">
		<h3 class="card-title">{{ 'title' | trans }}</h3>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col">
				This is the card body
			</div>
		</div>
	</div>

	<div class="card-footer">
		This is the card footer
	</div>
</div>

{# Card with buttons #}
<div class="card card-warning card-outline">

	<div class="card-header">
		<h3 class="card-title">This is the card title</h3>

		<div class="card-tools">

			<a href="{{ path('reading_book_add') }}" class="btn btn-tool">
				<i class="fas fa-plus"></i>
			</a>
			
			<span title="3 New Messages" class="badge bg-primary">3</span>

			<button type="button" class="btn btn-tool" data-card-widget="collapse">
				<i class="fas fa-minus"></i>
			</button>

			<button type="button" class="btn btn-tool">
				<i class="fas fa-tree"></i>
			</button>

			<button type="button" class="btn btn-tool">
				<i class="fas fa-times"></i>
			</button>

			<button type="button" class="btn btn-tool">
				<i class="fas fa-plus"></i>
			</button>
		</div>
	</div>

	<div class="card-body">
		<div class="row">
			<div class="col">
				This is the card body
			</div>
		</div>
	</div>

	<div class="card-footer">
		This is the card footer
	</div>
</div>
