{# templates/backoffice/libs_dropzone/dropzone.html.twig #}

<div class="row">
	<div class="col">
		<div class="dropzone my-dropzone" id="myDropzoneBox" action="{{ path('image_add_dropzone') }}">			
		</div>
	</div>
</div>

<div class="row">
	<div class="col">
		<span id="dropzone_accepted_files_display"></span>
	</div>
</div>
