<script id="article_card_template" type="text/template">

	<div class="container news">
		<div class="row">
			<div class="col">
				<figure class="news__inner">
					<h3>%date%</h3>
					<section class="news__img">
						%image%
					</section>
					<figcaption>
						<img src="/website/Assets/logo.png" alt="Logo de La Marguerite">
						<div class="news__content">
							<h2>%title%</h2>
							<div>%body%</div>
						</div>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>

</script>



<script id="article_card_image_template" type="text/template">

<img src="/assets/images/%image%" alt="image d'actualité">

</script>