{# templates/backoffice/base/logo.html.twig #}

<a href="{{ path('dashboard') }}" class="brand-link">
	<img src="{{ asset('theme_master/dist/img/logo.png') }}" alt="logo" class="brand-image img-circle" style="opacity: .8">
	<span class="brand-text font-weight-light">Ploop</span>
</a>
