.footer {
    padding: 1rem;
    background-color: var(--footer-background);
    color: var(--footer-color);
}

.footer__info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer__info li {
    width: 33%;
}

.footer__each {
    display: flex;
    flex-direction: column;
    gap: .5rem;

}

.footer__each li {
    width: 100%;
}

.footer__each h3 {
    color: var(--pink);
}

.footer__each p {
    width: 100%;
}

.footer__socialNetwork li {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .25rem;
}

.footer__icon {
    width: 1rem;
    height: 1rem;
}





.footer__carrousel {
    position: relative;
    overflow: hidden;
}

.footer__carrouselImages {
    display: flex;
    animation: carrousel 20s infinite;
}

.footer__carrouselImages img {
    width: 33.33%; /* Chaque image prend un tiers de la largeur du carrousel */
    flex-shrink: 0;
}

.footer__carrouselButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    background: none;
    border: none;
}

.footer__carrouselButton--prev {
    left: 10px;
}

.footer__carrouselButton--next {
    right: 10px;
}

@keyframes carrousel {
    0% { transform: translateX(0); }
    25% { transform: translateX(-100%); } /* Déplace le carrousel de trois images à la fois */
    50% { transform: translateX(-200%); }
    75% { transform: translateX(-300%); }
    100% { transform: translateX(-400%); }
}