.footer {
    max-width: 100%;
    padding: 2rem;
    background-color: var(--purple);
}

.footer h3 {
    color: var(--pink);
}

.footer h4 {
    color: var(--white);
}

.footer a {
    color: white;
    text-decoration: underline;
}

.footer img {
    width: 1rem;
}

.footer li {
    display: flex;
    align-items: center;
    gap: .5rem;

}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer__carrousel h3{
    margin: 2rem 0 1rem;
    text-align: center;
}

.footer__carrouselInner {
    padding: 1rem;
    background: white;
}

@media screen and (min-width: 992px) {
    .footer__carrousel h3 {
        margin: 0 0 2rem;
    }
}







.owl-nav {
    position: absolute;
    top: 50%;
    width: 100%;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    position: absolute;
    transform: translateY(-50%);
}

.owl-nav .owl-prev {
    left: -1rem;
}

.owl-nav .owl-next {
    right: 1rem;
}

.owl-nav .owl-prev,
.owl-nav .owl-next {
    width: 2rem;
    height: 2rem;
    background: var(--purple);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--purple);
    font-size: 1.25rem;
}

.owl-nav .owl-prev::before {
    content: '◀'; /* Caractère Unicode pour la flèche gauche */
    color: var(--purple);
}


.owl-nav .owl-next::before {
    content: '▶'; /* Caractère Unicode pour la flèche droite */
    color: var(--purple);
}

