body {
    background-color: var(--background-yellow);
    overflow-x: hidden;
}

.main {
    padding: 7rem 0 ;
    position: relative;
}



.bg__top, .bg__bottom {
    position: absolute;
    max-width: 150vw;
    object-fit: fill;
    z-index: -10;
}

.bg__top {
    top: 2.5rem;
    right: 0;
}

.bg__bottom {
    bottom: 0;
    right: calc(50% - 75vw);
}

.accueil__h1 {
    text-align: center;
    color: var(--purple);
}

.us {
    margin-top: 5rem;
}

.video {
    margin-top: 5rem;
}

.lightMission {
    margin-top: 5rem;
}

.testimonial {
    margin-top: 5rem;
}

.notification {
    margin-bottom: 2rem;
}



@media screen and (min-width: 768px){
    .main {
        padding-top: 8rem;
    }

    .video {
        margin-top: 5rem;
    }

    .bg__top {
        top: 2rem;
    }

    
}



@media screen and (min-width: 1200px){
    .main {
        padding-top: 15rem;
    }

    .video {
        margin-top: 10rem;
    }

    .lightMission {
        margin-top: 10rem;
    }

    .testimonial {
        margin-top: 10rem;
    }

    .bg__top {
        top: 5rem;
    }
    .notification {
        margin-bottom: 5rem;
    }
    
}