/* BTN.FORM.VALIDATION */

.btn-form-validation {
  color: #1f2d3d;
  background-color: #ffc107;
  border-color: #ffc107;
  box-shadow: none;
}

.btn-form-validation:hover {
  color: #1f2d3d;
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-form-validation:focus, .btn-form-validation.focus {
  color: #1f2d3d;
  background-color: #e0a800;
  border-color: #d39e00;
  box-shadow: 0 0 0 0 rgba(221, 171, 15, 0.5);
}

.btn-form-validation.disabled, .btn-form-validation:disabled {
  color: #1f2d3d;
  background-color: #ffc107;
  border-color: #ffc107;
}

.btn-form-validation:not(:disabled):not(.disabled):active, .btn-form-validation:not(:disabled):not(.disabled).active,
.show > .btn-form-validation.dropdown-toggle {
  color: #1f2d3d;
  background-color: #d39e00;
  border-color: #c69500;
}

.btn-form-validation:not(:disabled):not(.disabled):active:focus, .btn-form-validation:not(:disabled):not(.disabled).active:focus,
.show > .btn-form-validation.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(221, 171, 15, 0.5);
}

/* BTN.FORM.CANCELLATION */

.btn-form-cancellation {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-form-cancellation:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-form-cancellation:focus, .btn-form-cancellation.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.btn-form-cancellation.disabled, .btn-form-cancellation:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-form-cancellation:not(:disabled):not(.disabled):active, .btn-form-cancellation:not(:disabled):not(.disabled).active,
.show > .btn-form-cancellation.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-form-cancellation:not(:disabled):not(.disabled):active:focus, .btn-form-cancellation:not(:disabled):not(.disabled).active:focus,
.show > .btn-form-cancellation.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

/* BTN.ADD */

.btn-add {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-add:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-add:focus, .btn-add.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.btn-add.disabled, .btn-add:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-add:not(:disabled):not(.disabled):active, .btn-add:not(:disabled):not(.disabled).active,
.show > .btn-add.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-add:not(:disabled):not(.disabled):active:focus, .btn-add:not(:disabled):not(.disabled).active:focus,
.show > .btn-add.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

/* BTN.VIEW */

.btn-view {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-view:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-view:focus, .btn-view.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.btn-view.disabled, .btn-view:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-view:not(:disabled):not(.disabled):active, .btn-view:not(:disabled):not(.disabled).active,
.show > .btn-view.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-view:not(:disabled):not(.disabled):active:focus, .btn-view:not(:disabled):not(.disabled).active:focus,
.show > .btn-view.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

/* BTN.EDIT */

.btn-edit {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-edit:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-edit:focus, .btn-edit.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.btn-edit.disabled, .btn-edit:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-edit:not(:disabled):not(.disabled):active, .btn-edit:not(:disabled):not(.disabled).active,
.show > .btn-edit.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-edit:not(:disabled):not(.disabled):active:focus, .btn-edit:not(:disabled):not(.disabled).active:focus,
.show > .btn-edit.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

/* BTN.DELETE */

.btn-delete {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-delete:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-delete:focus, .btn-delete.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.btn-delete.disabled, .btn-delete:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-delete:not(:disabled):not(.disabled):active, .btn-delete:not(:disabled):not(.disabled).active,
.show > .btn-delete.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-delete:not(:disabled):not(.disabled):active:focus, .btn-delete:not(:disabled):not(.disabled).active:focus,
.show > .btn-delete.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

/* BTN.OTHER */

.btn-other {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  box-shadow: none;
}

.btn-other:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
}

.btn-other:focus, .btn-other.focus {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}

.btn-other.disabled, .btn-other:disabled {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-other:not(:disabled):not(.disabled):active, .btn-other:not(:disabled):not(.disabled).active,
.show > .btn-other.dropdown-toggle {
  color: #fff;
  background-color: #1d2124;
  border-color: #171a1d;
}

.btn-other:not(:disabled):not(.disabled):active:focus, .btn-other:not(:disabled):not(.disabled).active:focus,
.show > .btn-other.dropdown-toggle:focus {
  box-shadow: 0 0 0 0 rgba(82, 88, 93, 0.5);
}
