.workshops {
	/* background-color: aliceblue!important;
	color : black!important; */
}

.memberships {
	/* background-color: azure!important;
	color : black!important; */
}

.news {
	/* background-color: floralwhite!important;
	color : black!important; */
}